<ion-header>
    <ion-navbar>
        <ion-title>{{ category?.name }}</ion-title> 
        <ion-buttons end>
            <button ion-button small 
                [disabled]="!items || items.length < 1" 
                (click)="toggleEditMode()">
                <ion-label>
                    {{ !editing? 'Filter':'Done'}}
                </ion-label>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>


<ion-content>

    <!--<rme-randomizer margin [hidden]="!items || items.length < 1" [items]="items"></rme-randomizer>-->
    <div class="randomizer-wrapper">
        <rme-randomizer margin 
            [playable]="!editing && items.length > 0"
            [items]="(items | noIgnoreItem: dummyCounter)"></rme-randomizer>
    </div>


    <ion-list inset>
        <ion-item *ngFor="let item of items">
            <ion-label [class.ignored-title]="!editing && item?.ignore">{{ item.name }}</ion-label>
            <ion-checkbox [checked]="!item?.ignore" [hidden]="!editing" (ionChange)="onItemSelected(item)"></ion-checkbox>
        </ion-item>
    </ion-list>



</ion-content>