<ion-content>

    <ion-grid padding margin-top>

        <ion-row padding-vertical>
            <ion-col align-self-center>
                <h1 ion-text no-margin>Catalog</h1>
            </ion-col>
            <ion-col col-auto>
                <!--<button ion-button clear small  no-margin (click)="add()">
                    <ion-label>Add</ion-label>
                </button>-->
                <button ion-button clear small no-padding no-margin 
                    [hidden]="(catalogs | async).length < 1"
                    (click)="edit()">
                    <ion-label>Edit</ion-label>
                </button>
            </ion-col>
        </ion-row>

        <ion-row>
            
            <ion-col class="gallery-gitter" col-6 *ngFor="let catalog of (catalogs | async)">
                
                <button class="gallery-btn" ion-button full 
                    [style.background-color]="catalog.color ? catalog.color.value : '#434343'" 
                    (click)="onItemSelected(catalog)">
                    <ion-label class="gallery-btn-title" no-margin>{{ catalog.name }}</ion-label>
                </button>

            </ion-col>

            <!-- [hidden]="(catalogs | async).length > 0" -->
            <ion-col class="gallery-gitter" col-6>
                <button class="gallery-btn clear-dark-btn" ion-button icon-only full color="light" (click)="add()">
                    <ion-icon name="add"></ion-icon>
                </button>
            </ion-col>

        </ion-row>
    </ion-grid>

   

</ion-content>

<!-- <ion-footer>
    <ion-toolbar>
        <ion-buttons end margin-horizontal>
            <button ion-button icon-only (click)="add()">
                <ion-icon name="add"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-footer>-->