rme-home {
    .content-header {
        margin-top: 8vh;
        margin-left: 8px;
        margin-right: 8px;
    }
    .content-header-title {
        font-size: 36px;
        padding-left: 5px;
        margin-bottom: 0;
    }
    .gallery-gitter {
        padding: 5px 8px;
    }
    .gallery-btn {
        height: 35vw;
        border-radius: 3px;
    }
    .gallery-btn-title {
        text-transform: uppercase;
        font-family: "HelveticaNeue-CondensedBold";
        font-size: 5vw;
    }
    .fancy-btn {
        background: #3023AE;
        background: -webkit-linear-gradient(15deg, #3023AE, #C86DD7);
        background: linear-gradient(15deg, #3023AE, #C86DD7);
    }
    .dark-btn {
        background: #434343;
        background: -web-kit-linear-gradient(0deg, #000, #434343);
        background: linear-gradient(0deg, #000, #434343);
    }
    .clear-fancy-btn {
        border-color: #9C27B0;
        background: transparent;
        border-width: 2px;
        border-style: solid;
    }
    .clear-dark-btn {
        border-color: dimgray;
        background: transparent;
        border-width: 1px;
        border-style: solid;
    }
    .gallery-btn-title.clear-dark-style {
        color: dimgray;
    }
}